force-app/main/default/flows/CaseCreateFromPortal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>chBilling</name>
        <choiceText>I have a question about billing.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Billing</stringValue>
        </value>
    </choices>
    <choices>
        <name>chCustomerLead</name>
        <choiceText>&lt;span style=&quot;font-family: Aptos, sans-serif; font-size: 12pt;&quot;&gt;I’m considering becoming a customer&amp;nbsp;&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CustomerLead</stringValue>
        </value>
    </choices>
    <choices>
        <name>chGeneral</name>
        <choiceText>&lt;span style=&quot;font-size: 12pt; font-family: Aptos, sans-serif;&quot;&gt;Something else.&amp;nbsp;&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>General</stringValue>
        </value>
    </choices>
    <choices>
        <name>chServices</name>
        <choiceText>&lt;span style=&quot;font-size: 12pt; font-family: Aptos, sans-serif;&quot;&gt;I have a question about your services.&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Services</stringValue>
        </value>
    </choices>
    <choices>
        <name>chTechnicalIssue</name>
        <choiceText>&lt;span style=&quot;font-size: 12pt; font-family: Aptos, sans-serif;&quot;&gt;I’m having a technical issue.&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TechnicalIssue</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <description>Flow that is used on customer portal</description>
    <environments>Default</environments>
    <formulas>
        <name>CaseDescription</name>
        <dataType>String</dataType>
        <expression>CASE({!TopicArea},
{!chBilling},{!BillingQuestion},
{!chTechnicalIssue},{!ttTechIssueInfo},
{!chServices},{!Question}+&quot; &quot;+{!QuestionDetails},
{!GeneralDescription})</expression>
    </formulas>
    <formulas>
        <description>Link to new case</description>
        <name>CaseLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) &amp; {!Pull_case_number.Id}</expression>
    </formulas>
    <formulas>
        <description>Unique identifier for the appropriate case record type based on information submitted</description>
        <name>CaseRecordTypeID</name>
        <dataType>String</dataType>
        <expression>CASE({!TopicArea},
{!chTechnicalIssue},{!$CustomMetadata.Record_Type_Reference__mdt.Case_Service_Contract.RecordTypeId__c},
{!chGeneral},{!$CustomMetadata.Record_Type_Reference__mdt.Case_General.RecordTypeId__c},
{!chBilling},{!$CustomMetadata.Record_Type_Reference__mdt.Case_General.RecordTypeId__c},
{!chServices},{!$CustomMetadata.Record_Type_Reference__mdt.Case_Service_Contract.RecordTypeId__c},
{!$CustomMetadata.Record_Type_Reference__mdt.Case_Inquiry.RecordTypeId__c})</expression>
    </formulas>
    <formulas>
        <description>Building the subject line based on the topic area selected</description>
        <name>CaseSubject</name>
        <dataType>String</dataType>
        <expression>CASE ({!TopicArea},
{!chBilling},&quot;Billing Question&quot;,
{!chServices},&quot;Services Question&quot;,
{!chTechnicalIssue},&quot;Technical Issue&quot;,
&quot;General&quot;)</expression>
    </formulas>
    <formulas>
        <description>Unique identifier for the account</description>
        <name>ContactAccountID</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!ContactInfo.npsp__Primary_Affiliation__r.Id}),{!Pull_case_number.Account.Id},{!ContactInfo.npsp__Primary_Affiliation__r.Id})</expression>
    </formulas>
    <formulas>
        <description>Link to case within the partner portal</description>
        <name>PortalCaseLink</name>
        <dataType>String</dataType>
        <expression>HYPERLINK(&quot;https://transition-trails.my.site.com/ttpartners/case/Case/&quot;&amp;{!Pull_case_number.Id},&quot;customobject__c&quot;,&quot;_blank&quot;)</expression>
    </formulas>
    <interviewLabel>Case - Create from Portal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Create from Portal</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateCase</name>
        <label>Create Case</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignRecordIdToReference>NewCaseNumber</assignRecordIdToReference>
        <connector>
            <targetReference>Pull_case_number</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>ContactAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assigned_To__c</field>
            <value>
                <elementReference>Service_Contract_Info.Primary_Service_Provider__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>CaseDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CaseRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>CaseSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>TopicArea</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <description>Pull contact info related to the person logged into the site.</description>
        <name>ContactInfo</name>
        <label>Get Contact Info</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Service_Contract_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Pull the case number to display</description>
        <name>Pull_case_number</name>
        <label>Pull case number</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Final_Msg</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewCaseNumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Pull active service contract id.  If there isn&apos;t an active one, then this field will be left blank on the related case.</description>
        <name>Service_Contract_Info</name>
        <label>Service Contract Info</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>InitialScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactAccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceContract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>Final message to person creating a case.</description>
        <name>Final_Msg</name>
        <label>Final Msg</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FinalMsgText</name>
            <fieldText>&lt;p&gt;Thank you for your case submission.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your case number is : &lt;a href=&quot;https://transition-trails.my.site.com/ttpartners/case/Case/&amp;amp;{!Pull_case_number.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Pull_case_number.CaseNumber}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>First screen displayed to user</description>
        <name>InitialScreen</name>
        <label>Initial Screen</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CreateCase</targetReference>
        </connector>
        <fields>
            <name>TopicArea</name>
            <choiceReferences>chTechnicalIssue</choiceReferences>
            <choiceReferences>chServices</choiceReferences>
            <choiceReferences>chBilling</choiceReferences>
            <choiceReferences>chGeneral</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What can we help you with today?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Technical_Issue</name>
            <fieldText>Technical Issue</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Technical_Issue_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>IssueDescription</name>
                    <fieldText>Are you seeing an error message or unexpected behavior? Please describe it here.</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>TechIssueDescription</name>
                    <fieldText>Describe the Problem</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>IssueStartDate</name>
                    <dataType>Date</dataType>
                    <fieldText>When did the issue start?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>TopicArea</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>chTechnicalIssue</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Service_Question</name>
            <fieldText>Service Question</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Service_Question_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Question</name>
                    <dataType>String</dataType>
                    <fieldText>What service or product do you have a question about?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>QuestionDetails</name>
                    <fieldText>What would you like to know?</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>TopicArea</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>chServices</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Billing</name>
            <fieldText>Billing</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Billing_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BillingQuestion</name>
                    <fieldText>Please describe your billing question or concern?</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>TopicArea</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>chBilling</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>TopicArea</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>chBilling</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Something_Else</name>
            <fieldText>Something Else</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Something_Else_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>GeneralDescription</name>
                    <fieldText>Thanks for reaching out. Please describe how we can assist you today</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>TopicArea</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>chGeneral</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ContactInfo</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ttTechIssueInfo</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!TechIssueDescription}+&quot; Error Info or Unexpected behavior: &quot;+{!IssueDescription}+&quot; Date it began: &quot;+TEXT({!IssueStartDate}</text>
    </textTemplates>
    <variables>
        <name>ContentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Unique number for a case</description>
        <name>NewCaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
