force-app/main/default/flows/Content_Item_Publication_Log_Internal_Meeting_Videos.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <description>Indicates content is part of coaching</description>
        <name>chCoaching</name>
        <choiceText>Coaching</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Coaching</stringValue>
        </value>
    </choices>
    <choices>
        <description>Indicates content is part of the explorers&apos; trail</description>
        <name>chExplorersTrail</name>
        <choiceText>Explorers&apos; Trail</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>The Explorers Trail</stringValue>
        </value>
    </choices>
    <choices>
        <description>Indicates content is part of the guided trail program</description>
        <name>chGuidedTrail</name>
        <choiceText>The Guided Trail</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Guided Trail</stringValue>
        </value>
    </choices>
    <choices>
        <description>Indicates content is part of internal meetings</description>
        <name>chInternalMeetings</name>
        <choiceText>Internal Meetings</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Internal Meetings</stringValue>
        </value>
    </choices>
    <choices>
        <description>Indicates content is part of Trail of Mastery</description>
        <name>chTrailOfMastery</name>
        <choiceText>Trail of Mastery</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Trail of Mastery</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <description>Logging videos from any Transition Trails meetings which were uploaded as unlisted videos to YouTube</description>
    <environments>Default</environments>
    <interviewLabel>Content Item Publication - Log Internal Meeting Videos {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Content Item Publication - Log Internal Meeting Videos</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Adding content item record</description>
        <name>Content_Item</name>
        <label>Content Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>ContentItemId</assignRecordIdToReference>
        <connector>
            <targetReference>Content_Item_Publication</targetReference>
        </connector>
        <inputAssignments>
            <field>ContentTopic__c</field>
            <value>
                <elementReference>ContentTopic.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Content_Location__c</field>
            <value>
                <elementReference>Location.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Format__c</field>
            <value>
                <stringValue>Video</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Published</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Summary__c</field>
            <value>
                <elementReference>Summary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title__c</field>
            <value>
                <elementReference>Title</elementReference>
            </value>
        </inputAssignments>
        <object>ContentItem__c</object>
    </recordCreates>
    <recordCreates>
        <description>Capture where this content item was published</description>
        <name>Content_Item_Publication</name>
        <label>Content Item Publication</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Content_Item__c</field>
            <value>
                <elementReference>ContentItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DateUploaded__c</field>
            <value>
                <elementReference>Date_Uploaded_to_Platform</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Published__c</field>
            <value>
                <elementReference>Date_Published</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <elementReference>Location.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Platform__c</field>
            <value>
                <stringValue>YouTube</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title__c</field>
            <value>
                <elementReference>Title</elementReference>
            </value>
        </inputAssignments>
        <object>Content_Item_Publication__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Pull information about topic</description>
        <name>ContentTopic</name>
        <label>Content Topic</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Content_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Title__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Content_Topic</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentTopics__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>Primary screen for the flow</description>
        <name>Logging_Video_Main_Screen</name>
        <label>Logging Video Main Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ContentTopic</targetReference>
        </connector>
        <fields>
            <name>Content_Topic</name>
            <choiceReferences>chGuidedTrail</choiceReferences>
            <choiceReferences>chTrailOfMastery</choiceReferences>
            <choiceReferences>chExplorersTrail</choiceReferences>
            <choiceReferences>chInternalMeetings</choiceReferences>
            <choiceReferences>chCoaching</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Content Topic</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Title</name>
            <dataType>String</dataType>
            <fieldText>Title</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Logging_Video_Main_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Logging_Video_Main_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_Uploaded_to_Platform</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDate</elementReference>
                    </defaultValue>
                    <fieldText>Date Uploaded to Platform</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Logging_Video_Main_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_Published</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDate</elementReference>
                    </defaultValue>
                    <fieldText>Date Published</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Summary</name>
            <fieldText>Summary</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Location</name>
            <extensionName>flowruntime:url</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Logging_Video_Main_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Identifier for the content item that was created.  Needed to associate to content item publication</description>
        <name>ContentItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
