force-app/main/default/flows/Contact_Add_Volunteer_to_a_Job.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Assign contact id to a common variable to be used in later processing</description>
        <name>Capture_Contact_Id</name>
        <label>Capture Contact Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ContactUpdate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the individual id so it can be related to the new contact record</description>
        <name>Capture_Individual_Id</name>
        <label>Capture Individual Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>IndividualId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Individual.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Volunteer_Contact_Record</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>Indicates a negative response to the question</description>
        <name>chNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <description>Indicates a positive response to the question</description>
        <name>chYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <description>If there is already a volunteer contact for this person, we don&apos;t need to create another contact record.</description>
        <name>Contact_Exists</name>
        <label>Contact Exists?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Individual</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Contact Record</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Capture_Contact_Id</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is there a matching Individual record for this contact?</description>
        <name>Individual_Exists</name>
        <label>Individual Exists?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Individual_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Individual Record</defaultConnectorLabel>
        <rules>
            <name>IndividualExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Individual.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Capture_Individual_Id</targetReference>
            </connector>
            <label>Individual Exists</label>
        </rules>
    </decisions>
    <description>Initial process to onboard a volunteer for an active volunteer position</description>
    <dynamicChoiceSets>
        <description>List of possible skills to associate to a contact</description>
        <name>pcsVolunteerSkills</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>GW_Volunteers__Volunteer_Skills__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>All possible status values</description>
        <name>pcsVolunteerStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>GW_Volunteers__Volunteer_Status__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>All active volunteer jobs</description>
        <name>rcsVolunteerJobs</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GW_Volunteers__Inactive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>GW_Volunteers__Volunteer_Job__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>Unique identifier for a volunteer contact record type</description>
        <name>ContactVolunteerRecordTypeId</name>
        <dataType>String</dataType>
        <expression>{!$CustomMetadata.Record_Type_Reference__mdt.Contact_Volunteer.RecordTypeId__c}</expression>
    </formulas>
    <formulas>
        <description>Define volunteer status for the contact based on current status</description>
        <name>VolunteerStatus</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!Get_Contact.GW_Volunteers__Volunteer_Status__c})=&apos;inactive&apos;,&apos;New Signup&apos;,TEXT({!Get_Contact.GW_Volunteers__Volunteer_Status__c}))</expression>
    </formulas>
    <formulas>
        <description>Status of the volunteer recurrence schedule record related to contact and to the position</description>
        <name>VRSStatus</name>
        <dataType>String</dataType>
        <expression>IF({!Volunteer_Status}=&apos;Not Fit&apos;,&apos;Canceled&apos;,&apos;Prospect&apos;)</expression>
    </formulas>
    <interviewLabel>Contact - Add Volunteer to a Job {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact - Add Volunteer to a Job</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create an individual record for this person</description>
        <name>Create_Individual_Record</name>
        <label>Create Individual Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>IndividualId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Volunteer_Contact_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>ContactName.firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>ContactName.lastName</elementReference>
            </value>
        </inputAssignments>
        <object>Individual</object>
    </recordCreates>
    <recordCreates>
        <description>Create a contact record using the volunteer record type</description>
        <name>Create_Volunteer_Contact_Record</name>
        <label>Create Volunteer Contact Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>ContactId</assignRecordIdToReference>
        <connector>
            <targetReference>VolunteerRecurrenceSchedule</targetReference>
        </connector>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>ContactName.firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GW_Volunteers__Volunteer_Skills__c</field>
            <value>
                <elementReference>VolSkills</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GW_Volunteers__Volunteer_Status__c</field>
            <value>
                <stringValue>New Sign Up</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IndividualId</field>
            <value>
                <elementReference>IndividualId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>ContactName.lastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedIn_Profile__c</field>
            <value>
                <elementReference>LinkedInProfile.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>Phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ContactVolunteerRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trailhead_Profile__c</field>
            <value>
                <elementReference>TrailheadProfile.value</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <description>Create record tieing volunteer to the volunteer job.</description>
        <name>VolunteerRecurrenceSchedule</name>
        <label>Volunteer Recurrence Schedule</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Applied_for_This_Position__c</field>
            <value>
                <elementReference>Same_Position_Applicant_Applied_for</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GW_Volunteers__Comments__c</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GW_Volunteers__Contact__c</field>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GW_Volunteers__Days_of_Week__c</field>
            <value>
                <stringValue>Saturday</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GW_Volunteers__Duration__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GW_Volunteers__Number_of_Volunteers__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GW_Volunteers__Schedule_Start_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GW_Volunteers__Volunteer_Hours_Status__c</field>
            <value>
                <elementReference>VRSStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GW_Volunteers__Volunteer_Job__c</field>
            <value>
                <elementReference>Volunteer_Job</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GW_Volunteers__Weekly_Occurrence__c</field>
            <value>
                <stringValue>Every</stringValue>
            </value>
        </inputAssignments>
        <object>GW_Volunteers__Volunteer_Recurrence_Schedule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Check to see if there is already a volunteer contact record</description>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Exists</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 4 AND 5 AND (3 OR 6 OR 7)</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactVolunteerRecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </filters>
        <filters>
            <field>MobilePhone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Phone.value</elementReference>
            </value>
        </filters>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactName.firstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactName.lastName</elementReference>
            </value>
        </filters>
        <filters>
            <field>LinkedIn_Profile__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LinkedInProfile.value</elementReference>
            </value>
        </filters>
        <filters>
            <field>Trailhead_Profile__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TrailheadProfile.value</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>LastActivityDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Check to see if there is an individual record for this contact</description>
        <name>Get_Individual</name>
        <label>Get Individual</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Individual_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactName.lastName</elementReference>
            </value>
        </filters>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactName.firstName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Individual</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>ContactUpdate</name>
        <label>Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>VolunteerRecurrenceSchedule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>GW_Volunteers__Volunteer_Status__c</field>
            <value>
                <elementReference>VolunteerStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <screens>
        <description>Screen of the flow where user enters needed information</description>
        <name>DataEntryScreen</name>
        <label>Data Entry Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <fields>
            <name>DataEntryScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>DataEntryScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Volunteer_Job</name>
                    <choiceReferences>rcsVolunteerJobs</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Volunteer Job</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>DataEntryScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Same_Position_Applicant_Applied_for</name>
                    <choiceReferences>chYes</choiceReferences>
                    <choiceReferences>chNo</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Same Position Applicant Applied for</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Volunteer_Status</name>
                    <choiceReferences>pcsVolunteerStatus</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Volunteer Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ContactName</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DataEntryScreen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>DataEntryScreen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>DataEntryScreen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>LinkedInProfile</name>
            <extensionName>flowruntime:url</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>LinkedIn Profile</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>TrailheadProfile</name>
            <extensionName>flowruntime:url</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Trailhead Profile</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>VolSkills</name>
            <choiceReferences>pcsVolunteerSkills</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Skills</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Notes</name>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Start of process.</description>
        <name>Initial_Screen</name>
        <label>Initial Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DataEntryScreen</targetReference>
        </connector>
        <fields>
            <name>msg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Click button to add a volunteer.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>InitialInfo</name>
            <fieldText>&lt;p&gt;The process creates an &lt;strong&gt;individual &lt;/strong&gt;record and a &lt;strong&gt;contact &lt;/strong&gt;record if neither exists.  It also creates a &lt;strong&gt;Volunteer Recurrence Schedule&lt;/strong&gt; record linking the contact to the volunteer position.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;For a new contact record, the volunteer status is &lt;em&gt;New Signup&lt;/em&gt;&lt;/li&gt;&lt;li&gt;For existing contact records, the volunteer status is changed to &lt;em&gt;New Signup&lt;/em&gt; if the current value is &lt;em&gt;Inactive&lt;/em&gt;; otherwise, the status value is not changed.&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Add Volunteer</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Initial_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Unique identifier for the volunteer contact</description>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Unique identifier for the individual record</description>
        <name>IndividualId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
