force-app/main/default/flows/Convert_Candidate_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>convert a candidate lead to a program engagement record</description>
    <environments>Default</environments>
    <formulas>
        <description>Indicates that the lead record is for a candidate.</description>
        <name>IsCandidateLead</name>
        <dataType>Boolean</dataType>
        <expression>IF({!LeadRecordTypeId} = {!$CustomMetadata.RecordTypeId__mdt.Lead_Candidate.RecordTypeId__c},True,False)</expression>
    </formulas>
    <interviewLabel>Convert Candidate Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Convert Candidate Lead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Information from lead</description>
        <name>Contact_Info</name>
        <label>Contact Info</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>ContactId</assignRecordIdToReference>
        <connector>
            <targetReference>Program_Engagement</targetReference>
        </connector>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Lead_Info.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Lead_Info.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IndividualId</field>
            <value>
                <elementReference>IndividualId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Lead_Info.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedIn_Profile__c</field>
            <value>
                <elementReference>Lead_Info.LinkedIn_URL__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>Lead_Info.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trailhead_Profile__c</field>
            <value>
                <elementReference>Lead_Info.Trailhead_Profile__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <description>Create individual record</description>
        <name>Individual</name>
        <label>Individual</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>IndividualId</assignRecordIdToReference>
        <connector>
            <targetReference>Contact_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead_Info.FirstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead_Info.LastName</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Lead_Info.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Lead_Info.LastName</elementReference>
            </value>
        </inputAssignments>
        <object>Individual</object>
        <operationMultMatchingRecords>UpdateLatestRecord</operationMultMatchingRecords>
        <operationOneMatchingRecord>UpdateAllRecords</operationOneMatchingRecord>
        <operationZeroMatchingRecords>AddRecord</operationZeroMatchingRecords>
    </recordCreates>
    <recordCreates>
        <description>Create program engagement record to capture application</description>
        <name>Program_Engagement</name>
        <label>Program Engagement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Individual_ID_on_lead</targetReference>
        </connector>
        <inputAssignments>
            <field>pmdm__ApplicationDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pmdm__Contact__c</field>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pmdm__Program__c</field>
            <value>
                <elementReference>Lead_Info.Program__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pmdm__Stage__c</field>
            <value>
                <stringValue>Applied</stringValue>
            </value>
        </inputAssignments>
        <object>pmdm__ProgramEngagement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Pull information from lead to use for processing</description>
        <name>Lead_Info</name>
        <label>Lead Info</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Individual</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Individual_ID_on_lead</name>
        <label>Update Individual ID on lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IndividualId</field>
            <value>
                <elementReference>IndividualId</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Lead_Info</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Unique identifier for record on individual object.</description>
        <name>IndividualId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Unique identifier for the lead being processed</description>
        <name>LeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Unique identity of the lead record&apos;s type</description>
        <name>LeadRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
