force-app/main/default/flows/Program_Registration_Guided_Trail.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Send an email to the person submitting the waitlist request</description>
        <name>Send_email_to_Applicant</name>
        <label>Send email to Applicant</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Thank_You_screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>RegistrantEmail.value</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>support@transitiontrails.org</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useEmailTemplate</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00Xan000008dPI5EAM</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>ContactIdFinal</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <description>send quick email to support</description>
        <name>Send_support_email</name>
        <label>Send support email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>support@transitiontrails.org</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Issue with creating a Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;{!FirstName} {!LastName} for the Guided Trail program.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;email: {!RegistrantEmail.value}&lt;/p&gt;&lt;p&gt;Phone: {!MobilePhone.value}&lt;/p&gt;&lt;p&gt;Comments:&lt;/p&gt;&lt;p&gt;{!Comments}&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Existing_ContactId</name>
        <label>Assign Existing ContactId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ContactIdFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Existing_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Program_Engagement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_ContactId</name>
        <label>Assign New ContactId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ContactIdFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Program_Engagement</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>Afternoon (noon - 6)</description>
        <name>chAfternoon</name>
        <choiceText>Afternoon (noon - 6)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Afternoon</stringValue>
        </value>
    </choices>
    <choices>
        <description>Indicates user as a business analyst certification</description>
        <name>chBusinessAnalyst</name>
        <choiceText>Salesforce Certified Business Analyst</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BA-201</stringValue>
        </value>
    </choices>
    <choices>
        <description>Evening (6 - 10)</description>
        <name>chEvening</name>
        <choiceText>Evening (6 - 9)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Evening</stringValue>
        </value>
    </choices>
    <choices>
        <description>Friday</description>
        <name>chFriday</name>
        <choiceText>Friday</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Friday</stringValue>
        </value>
    </choices>
    <choices>
        <description>Monday</description>
        <name>chMonday</name>
        <choiceText>Monday</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Monday</stringValue>
        </value>
    </choices>
    <choices>
        <description>Morning (9 - noon)</description>
        <name>chMorning</name>
        <choiceText>Morning (9 - noon)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Morning</stringValue>
        </value>
    </choices>
    <choices>
        <description>Indicates a negative response</description>
        <name>chNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <description>Indicates the user has no certifications</description>
        <name>chNoCerts</name>
        <choiceText>No Certifications</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NoCerts</stringValue>
        </value>
    </choices>
    <choices>
        <description>Indicates user does not want to receive phone calls from Transition Trails</description>
        <name>chOptOutCall</name>
        <choiceIcon>
            <iconName>utility:call</iconName>
        </choiceIcon>
        <choiceText>Opt Out Calls</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OptOutCalls</stringValue>
        </value>
    </choices>
    <choices>
        <description>Indicates user does not want to receive email from Transition Trails</description>
        <name>chOptOutEmail</name>
        <choiceIcon>
            <iconName>utility:email</iconName>
        </choiceIcon>
        <choiceText>Opt Out Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OptOutEmail</stringValue>
        </value>
    </choices>
    <choices>
        <description>Indicates user does not want to receive texts from Transition Trails</description>
        <name>chOptOutTexting</name>
        <choiceIcon>
            <iconName>utility:phone_portrait</iconName>
        </choiceIcon>
        <choiceText>Opt Out Texts</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OptOutTexts</stringValue>
        </value>
    </choices>
    <choices>
        <description>Indicates the user has other certifications not listed</description>
        <name>chOtherCertifications</name>
        <choiceText>Other Certifications not listed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OtherCerts</stringValue>
        </value>
    </choices>
    <choices>
        <description>Indicates the user has the Salesforce Platform Foundations certification</description>
        <name>chSalesforceCertifiedPlatformFoundations</name>
        <choiceText>Salesforce Certified Platform Foundations</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Plat-101</stringValue>
        </value>
    </choices>
    <choices>
        <description>Indicates the user has the Salesforce Certified Platform Administrator certification</description>
        <name>chSalesforcePlatformAdmin</name>
        <choiceText>Salesforce Certified Platform Administrator</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Plat-Admn-201</stringValue>
        </value>
    </choices>
    <choices>
        <description>Saturday</description>
        <name>chSaturday</name>
        <choiceText>Saturday</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Saturday</stringValue>
        </value>
    </choices>
    <choices>
        <description>Sunday</description>
        <name>chSunday</name>
        <choiceText>Sunday</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sunday</stringValue>
        </value>
    </choices>
    <choices>
        <description>The Explorers Trail</description>
        <name>chTheExplorersTrail</name>
        <choiceIcon>
            <iconName>utility:classic_interface</iconName>
        </choiceIcon>
        <choiceText>The Explorer&apos;s Trail</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ET</stringValue>
        </value>
    </choices>
    <choices>
        <description>The Guided Trail</description>
        <name>chTheGuidedTrail</name>
        <choiceIcon>
            <iconName>utility:cart</iconName>
        </choiceIcon>
        <choiceText>The Guided Trail</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>GT</stringValue>
        </value>
    </choices>
    <choices>
        <description>The Trail of Mastery</description>
        <name>chTheTrailOfMastery</name>
        <choiceIcon>
            <iconName>utility:coverage_type</iconName>
        </choiceIcon>
        <choiceText>The Trail of Mastery</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TM</stringValue>
        </value>
    </choices>
    <choices>
        <description>Thursday</description>
        <name>chThursday</name>
        <choiceText>Thursday</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Thursday</stringValue>
        </value>
    </choices>
    <choices>
        <description>Tuesday</description>
        <name>chTuesday</name>
        <choiceText>Tuesday</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tuesday</stringValue>
        </value>
    </choices>
    <choices>
        <description>Wednesday</description>
        <name>chWednesday</name>
        <choiceText>Wednesday</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Wednesday</stringValue>
        </value>
    </choices>
    <choices>
        <description>Indicates a positive response</description>
        <name>chYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <description>URL to the transitiontrails program registration website page</description>
        <name>cTTPrograms</name>
        <dataType>String</dataType>
        <value>
            <stringValue>https://transition-trails.my.site.com/ttprograms</stringValue>
        </value>
    </constants>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <description>Decide if a contact exists or not.</description>
        <name>Decision_ContactExists</name>
        <label>Contact Exists?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_RTName</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <description>Only applicants who have at least one of the required certifications are a fit for this program</description>
        <name>Have_Required_Certifications</name>
        <label>Have Required Certifications?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>NoCertificationScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HasRequiredCertifications</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Select_certifications_you_currently_have</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>chBusinessAnalyst</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Select_certifications_you_currently_have</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>chSalesforceCertifiedPlatformFoundations</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Select_certifications_you_currently_have</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>chSalesforcePlatformAdmin</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_Contact</targetReference>
            </connector>
            <label>Has Required Certifications</label>
        </rules>
    </decisions>
    <decisions>
        <description>If individual is already employed as a Salesforce admin, then they need Trail of Mastery or Explorers&apos; Trail.</description>
        <name>Right_Fit_for_Guided_Trail</name>
        <label>Right Fit for Guided Trail?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Have_Required_Certifications</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_GT_Fit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Are_you_currently_employed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chYes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TrailOfMasteryScreen</targetReference>
            </connector>
            <label>Not GT Fit</label>
        </rules>
    </decisions>
    <decisions>
        <description>Due to the complexities of supporting participants outside of the United states, we are excluding anyone who is not in the US</description>
        <name>USResidentCheck</name>
        <label>US Resident Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Right_Fit_for_Guided_Trail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>In US</defaultConnectorLabel>
        <rules>
            <name>NotInUs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentlyInUS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chNo</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NotInUSScreen</targetReference>
            </connector>
            <label>Not in US</label>
        </rules>
    </decisions>
    <description>Testing with System - w/o sharing to see if it solves LWR site visibility issues
Registration process for the Guided Trail program</description>
    <dynamicChoiceSets>
        <description>List of planned or active programs</description>
        <name>rcsPrograms</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>or</filterLogic>
        <filters>
            <field>pmdm__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>pmdm__Program__c</object>
        <outputAssignments>
            <assignToReference>ProgramId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProgramName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>Comment made from several text fields on application</description>
        <name>AppComment</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Comments}) &amp;&amp; ISBLANK({!What_do_you_want_to_get_out_of_this_program}),&apos;no comments&apos;,
  IF(NOT(ISBLANK({!Comments})) &amp;&amp; ISBLANK({!What_do_you_want_to_get_out_of_this_program}),{!Comments} ,
  IF(ISBLANK({!Comments}) &amp;&amp; NOT(ISBLANK({!What_do_you_want_to_get_out_of_this_program})),{!What_do_you_want_to_get_out_of_this_program},{!What_do_you_want_to_get_out_of_this_program}+&apos;; &apos;+{!Comments})))</expression>
    </formulas>
    <formulas>
        <description>Converts Are You Employed into a check</description>
        <name>Employed</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Are_you_currently_employed}=&apos;Yes&apos;,True,False)</expression>
    </formulas>
    <formulas>
        <description>Indicates applicant is in United States; answer converted to boolean</description>
        <name>InUS</name>
        <dataType>Boolean</dataType>
        <expression>IF({!CurrentlyInUS}=&apos;Yes&apos;,True,False)</expression>
    </formulas>
    <interviewLabel>Program Registration - Guided Trail {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Program Registration - Guided Trail</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create a Contact with program information so that the person can be vetted prior to being waitlisted into a program</description>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_New_ContactId</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_support_email</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>RegistrantEmail.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>MobilePhone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_RTName.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create record to capture application</description>
        <name>Program_Engagement</name>
        <label>Program Engagement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_email_to_Applicant</targetReference>
        </connector>
        <inputAssignments>
            <field>Currently_Employeed__c</field>
            <value>
                <elementReference>Employed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>In_United_States__c</field>
            <value>
                <elementReference>InUS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pmdm__ApplicationDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pmdm__Contact__c</field>
            <value>
                <elementReference>ContactIdFinal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pmdm__Program__c</field>
            <value>
                <elementReference>ProgramId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pmdm__Stage__c</field>
            <value>
                <stringValue>Applied</stringValue>
            </value>
        </inputAssignments>
        <object>pmdm__ProgramEngagement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Looks up the Contact object to see if there’s already a record in Salesforce with the same email that the registrant entered on the signup screen.</description>
        <name>Get_Existing_Contact</name>
        <label>Contact Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_ContactExists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RegistrantEmail.value</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RTName</name>
        <label>Get RTName</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Intern</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Existing_ContactId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Existing_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>MobilePhone.value</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>Initial screen seen by user where user will enter required information</description>
        <name>Initial_Screen</name>
        <label>Initial Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>USResidentCheck</targetReference>
        </connector>
        <fields>
            <name>Initial_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Initial_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FirstName</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>LastName</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CurrentlyInUS</name>
                    <choiceReferences>chYes</choiceReferences>
                    <choiceReferences>chNo</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Are you currently located in the United States?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Initial_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RegistrantEmail</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>MobilePhone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Mobile Phone</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Initial_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Initial_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Select_certifications_you_currently_have</name>
                    <choiceReferences>chBusinessAnalyst</choiceReferences>
                    <choiceReferences>chSalesforcePlatformAdmin</choiceReferences>
                    <choiceReferences>chSalesforceCertifiedPlatformFoundations</choiceReferences>
                    <choiceReferences>chOtherCertifications</choiceReferences>
                    <choiceReferences>chNoCerts</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Select certifications you currently have</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Are_you_currently_employed</name>
                    <choiceReferences>chYes</choiceReferences>
                    <choiceReferences>chNo</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Are you currently employed and using Salesforce?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Initial_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>What_do_you_want_to_get_out_of_this_program</name>
                    <fieldText>What do you want to get out of this program?</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CurrentlyInUS</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>chYes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Initial_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Initial_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AvailabilityMsg</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;This program includes coaching sessions and group meetings. What is your general availability so we can place you in the best group for your schedule.  &lt;/span&gt;&lt;em style=&quot;font-size: 10px;&quot;&gt;(note:  if your timezone is not listed, just choose &apos;other&apos;)&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>CurrentlyInUS</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>chYes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Initial_Screen_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Initial_Screen_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Days_of_the_Week</name>
                    <choiceReferences>chMonday</choiceReferences>
                    <choiceReferences>chTuesday</choiceReferences>
                    <choiceReferences>chWednesday</choiceReferences>
                    <choiceReferences>chThursday</choiceReferences>
                    <choiceReferences>chFriday</choiceReferences>
                    <choiceReferences>chSaturday</choiceReferences>
                    <choiceReferences>chSunday</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Days of the Week</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Initial_Screen_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Time_of_Day</name>
                    <choiceReferences>chMorning</choiceReferences>
                    <choiceReferences>chAfternoon</choiceReferences>
                    <choiceReferences>chEvening</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Time of Day</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CurrentlyInUS</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>chYes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>UrlInfoMsg</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 9px;&quot;&gt;Begin urls with https://&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>TrailheadProfile</name>
            <extensionName>flowruntime:url</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Trailhead Profile URL</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;Please enter a valid trailhead url&lt;/p&gt;</errorMessage>
                <formulaExpression>CONTAINS({!TrailheadProfile.value},
&apos;trailhead&apos;) ||
CONTAINS({!TrailheadProfile.value},
&apos;trailblazer&apos;)</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CurrentlyInUS</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>chYes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>LinkedInProfile</name>
            <extensionName>flowruntime:url</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>LinkedIn Profile</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;Please enter a valid LinkedIn url&lt;/p&gt;</errorMessage>
                <formulaExpression>CONTAINS({!LinkedInProfile.value},&apos;linkedin.com&apos;)</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CurrentlyInUS</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>chYes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Comments</name>
            <fieldText>Anything else we need to know?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CurrentlyInUS</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>chYes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Initial_Screen_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Initial_Screen_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ConsentMsg</name>
                    <fieldText>&lt;p&gt;Please indicate any communication channel you do not want Transition Trails to use.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Initial_Screen_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Consent</name>
                    <choiceReferences>chOptOutEmail</choiceReferences>
                    <choiceReferences>chOptOutTexting</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Consent</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CurrentlyInUS</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>chYes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to discuss waitlisting for trail of mastery.</description>
        <name>NoCertificationScreen</name>
        <label>No Certification Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoCertificationScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>NoCertificationScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NoCertMsgLogo</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>TTLogo</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>NoCertificationScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_TrailOfMasteryMsg</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;The Guided Trail program is designed for individuals who hold one or more Salesforce certifications but have not yet worked in a role that uses the platform. Since you currently do not hold any of the required certifications for this program we cannot accept your application at this time.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please re-apply after you have acquired at least one of the certifications below:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;a href=&quot;https://trailheadacademy.salesforce.com/certificate/exam-platform-foundations---Plat-101&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Salesforce Certified Platform Foundations&lt;/a&gt;&lt;/li&gt;&lt;li&gt;&lt;a href=&quot;https://trailheadacademy.salesforce.com/certificate/exam-business-analyst---BA-201&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Salesforce Certified Business Analyst&lt;/a&gt;&lt;/li&gt;&lt;li&gt;&lt;a href=&quot;https://trailheadacademy.salesforce.com/certificate/exam-platform-admin---Plat-Admn-201&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Salesforce Certified Platform Administrator&lt;/a&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;To keep in the loop, please subscribe to our &lt;a href=&quot;https://transitiontrailsthecompass.substack.com/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;newsletter&lt;/a&gt;.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>When applicant is not in the US, we need provide reason for not accepting application</description>
        <name>NotInUSScreen</name>
        <label>Not In US Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NotInUSScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>NotInUSScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NonUSMsgLogoa</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>TTLogo</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>NotInUSScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_NotTZMsg</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Currently, we can only accept applicants located in the US.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;If you would like to be informed when our program is expanded to other countries, please subscribe to our &lt;/span&gt;&lt;a href=&quot;https://transitiontrailsthecompass.substack.com/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px;&quot;&gt;newsletter&lt;/a&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;.  We publish information monthly, including upcoming events (webinars, workshops).&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Thank you.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Transition Trails Programs Team&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Displays thank you message</description>
        <name>Thank_You_screen</name>
        <label>Thank You screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ThankyouDisplay</name>
            <fieldText>&lt;p&gt;Thank you for your interest in the Guided Trail program.&lt;/p&gt;&lt;p&gt;We will reach out to you shortly.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Subscribe to our &lt;a href=&quot;https://kimberlybanres.substack.com/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;newsletter &lt;/a&gt;for additional information.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Screen to discuss waitlisting for trail of mastery.</description>
        <name>TrailOfMasteryScreen</name>
        <label>TrailOfMasteryScreen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TrailOfMasteryScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>TrailOfMasteryScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TMMsgLogo</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>TTLogo</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>TrailOfMasteryScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TrailOfMasteryMsg</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;The Guided Trail program is designed for individuals who hold one or more Salesforce certifications but have not yet worked in a role that uses the platform. Since you are currently working with Salesforce, this program would not be the best fit for you.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Instead, we invite you to explore our &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Trail of Mastery&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; program, which offers a range of advanced mastery trails you may find valuable.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please click the link below to learn more about our currently active master paths.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;To keep in the loop please subscribe to our &lt;a href=&quot;https://transitiontrailsthecompass.substack.com/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;newsletter&lt;/a&gt;.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Initial_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContactIdFinal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ExistingContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExistingFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExistingLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Unique identifier for the lead record created.  This information is used to relate the thank you email being sent to the new records</description>
        <name>LeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Unique identifier for the program selected</description>
        <name>ProgramId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>a2yan0000007p7RAAQ</stringValue>
        </value>
    </variables>
    <variables>
        <description>Name of the selected program</description>
        <name>ProgramName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
