force-app/main/default/flows/Send_Summary_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Send an email summarizing what was done, what training was provided, and a list of additional resources.</description>
        <name>Send_Summary_Email</name>
        <label>Send Summary Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Capture_Date_Email_Sent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value/>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>support@transitiontrails.org</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Service Contract Summary</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>TTBody2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Service_Contract.Account.npe01__One2OneContact__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>cKKB</name>
        <dataType>String</dataType>
        <value>
            <stringValue>kkbstarstuff@gmail.com</stringValue>
        </value>
    </constants>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <description>Verify that all information about the service contract is correct before allowing the summary email to be sent</description>
        <name>SendEmailDec</name>
        <label>Send Email?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Error_Msg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>InfoVerified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Service_Contract.Work_Done__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Service_Contract.Training_Provided__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Service_Contract.Additional_Resources__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Service_Contract.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expired</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Service_Contract.Account.npe01__One2OneContact__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Service_Contract.Summary_Email_Sent_Date__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Summary_Email</targetReference>
            </connector>
            <label>Info Verified</label>
        </rules>
    </decisions>
    <description>Send summary email to primary account contact for the service contract</description>
    <environments>Default</environments>
    <interviewLabel>Send Summary Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Summary Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Pull information about the service contract</description>
        <name>Service_Contract</name>
        <label>Service Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SendEmailDec</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceContract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Capture date the summary email was sent.</description>
        <name>Capture_Date_Email_Sent</name>
        <label>Capture Date Email Sent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Summary_Email_Sent_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceContract</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <description>Message to user</description>
        <name>Error_Msg</name>
        <label>Error Msg</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Msg</name>
            <fieldText>&lt;p&gt;The service contract must have expired, all summary email fields must contain information, and a summary email has not already been sent.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;What Was Done&lt;/li&gt;&lt;li&gt;Training Provided&lt;/li&gt;&lt;li&gt;Additional Resource&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;Also, the related account must have a defined primary contact.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Service_Contract</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Email body</description>
        <name>TTBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif;&quot;&gt;Dear {!Service_Contract.Account.npe01__One2OneContact__r.FirstName},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif;&quot;&gt;This email summarizes our work together and outlines the next steps as we transition you to our Alumni Partner program. We value your partnership and look forward to continuing our relationship in a new capacity.&lt;/span&gt;&lt;/p&gt;&lt;h3&gt;&lt;strong style=&quot;font-size: 16px; font-family: sans-serif;&quot;&gt;What Was Done&lt;/strong&gt;&lt;/h3&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif;&quot;&gt;During our active partnership, we successfully delivered the following:&lt;/span&gt;&lt;br&gt;{!Service_Contract.Work_Done__c}&lt;br&gt;We are proud of the results achieved together and the positive impact this work has had on your organization.&lt;/p&gt;&lt;br&gt;&lt;h3&gt;&lt;strong style=&quot;font-size: 16px; font-family: sans-serif;&quot;&gt;Training Provided&lt;/strong&gt;&lt;/h3&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif;&quot;&gt;As part of our engagement, we provided the following training to your team:&lt;br&gt;{!Service_Contract.Training_Provided__c}&lt;br&gt;&lt;/p&gt;&lt;h3&gt;&lt;strong style=&quot;font-size: 16px; font-family: sans-serif;&quot;&gt;Additional Information&lt;/strong&gt;&lt;/h3&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif;&quot;&gt;All work documentation, reports, and deliverables for our engagement have been finalized and are available on a shared drive.&lt;br&gt;Below are links to additional reference and training information:&lt;br&gt;{!Service_Contract.Additional_Resources__c}&lt;/span&gt;&lt;/p&gt;&lt;br&gt;&lt;h3&gt;&lt;strong style=&quot;font-size: 16px; font-family: sans-serif;&quot;&gt;Stay In Touch&lt;/strong&gt;&lt;/h3&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif;&quot;&gt;As an Alumni Partner, you&apos;ll continue to receive exclusive updates, invitations to events, and access to valuable resources. Here are a few ways to stay connected:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;a href=&quot;https://www.linkedin.com/company/transition-trails/?viewAsMember=true&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(4, 105, 193);&quot;&gt;LinkedIn&lt;/a&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif;&quot;&gt;: Follow our company page.&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;a href=&quot;https://transitiontrailsthecompass.substack.com/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(4, 105, 193);&quot;&gt;Newsletter&lt;/a&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif;&quot;&gt;: Subscribe to our monthly newsletter for industry insights and company news.&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;a href=&quot;https://transitiontrails.substack.com/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(4, 105, 193);&quot;&gt;Our Blog&lt;/a&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif;&quot;&gt;: Subscribe to Notes From The Trail for industry insights and company news.&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif;&quot;&gt;We value your continued connection with us and look forward to exploring future opportunities together.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif;&quot;&gt;______________________________________________________________________________________________________________________________________&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: sans-serif; color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Transition Trails | Dallas, TX | &lt;/span&gt;&lt;a href=&quot;http://transitiontrails.org/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: sans-serif; color: rgb(26, 98, 255); font-size: 12px;&quot;&gt;&lt;u&gt;transitiontrails.org&lt;/u&gt;&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TTBody2</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;table class=&quot;ql-table-blob&quot; border=&quot;0&quot; style=&quot;background-color:#ffffff&quot; width=&quot;100%&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td style=&quot;background-color:#f5f5f5&quot;&gt;&lt;table align=&quot;center&quot; width=&quot;100%&quot; border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; role=&quot;presentation&quot; style=&quot;max-width:600px;min-height:600px;margin:0 auto;background-color:#f2eeea&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td style=&quot;vertical-align:top&quot;&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;vertical-align:top&quot;&gt;&lt;table border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; class=&quot;layout-0&quot; align=&quot;center&quot; style=&quot;display:table;border-spacing:0px;border-collapse:separate;width:100%;max-width:100%;table-layout:fixed;margin:0 auto;background-color:#2a2e2c;border-top-left-radius:0;border-top-right-radius:0;border-bottom-left-radius:0;border-bottom-right-radius:0&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td style=&quot;text-align:center;padding:16.21px 20px&quot;&gt;&lt;table border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; style=&quot;border-spacing:0px;border-collapse:separate;width:100%;max-width:538px;table-layout:fixed;margin:0 auto&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td width=&quot;8.82%&quot; style=&quot;width:8.82%;box-sizing:border-box;vertical-align:middle;background-color:#2a2e2c;border-top-left-radius:0;border-top-right-radius:0;border-bottom-left-radius:0;border-bottom-right-radius:0&quot;&gt;&lt;table border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; style=&quot;border-spacing:0px;border-collapse:separate;width:100%;table-layout:fixed&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;table align=&quot;center&quot; width=&quot;100%&quot; border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; role=&quot;presentation&quot; style=&quot;color:#000;font-style:normal;font-weight:normal;font-size:16px;line-height:1.4;letter-spacing:0;text-align:left;direction:ltr;border-collapse:collapse;font-family:Arial, Helvetica, sans-serif;white-space:normal;word-wrap:break-word;word-break:break-word&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;table cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; border=&quot;0&quot; style=&quot;width:100%&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td align=&quot;center&quot;&gt;&lt;table cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; border=&quot;0&quot; style=&quot;width:100%;max-width:48px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td style=&quot;width:100%;padding:0&quot;&gt;&lt;img src=&quot;https://vc-eckwd33avfpvqoxg_0gsgxxmesjtgju3pix7p4tu.canva-cdn.email/67f4998edd0c036d96a1c69b710b1526.png&quot; width=&quot;48&quot; height=&quot;48&quot; style=&quot;display:block;width:100%;height:auto;max-width:100%&quot;&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;td width=&quot;16&quot; style=&quot;width:16px;box-sizing:border-box;font-size:0&quot;&gt;&amp;nbsp;&lt;/td&gt;&lt;td width=&quot;88.21%&quot; style=&quot;width:88.21%;box-sizing:border-box;vertical-align:middle;background-color:#2a2e2c;border-top-left-radius:0;border-top-right-radius:0;border-bottom-left-radius:0;border-bottom-right-radius:0&quot;&gt;&lt;table border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; style=&quot;border-spacing:0px;border-collapse:separate;width:100%;table-layout:fixed&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;table align=&quot;center&quot; width=&quot;100%&quot; border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; role=&quot;presentation&quot; style=&quot;color:#000;font-style:normal;font-weight:normal;font-size:16px;line-height:1.4;letter-spacing:0;text-align:left;direction:ltr;border-collapse:collapse;font-family:Arial, Helvetica, sans-serif;white-space:normal;word-wrap:break-word;word-break:break-word&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td dir=&quot;ltr&quot; style=&quot;color:#ffffff;font-size:17.3333px;font-weight:700;font-family:Poppins, Arial, Helvetica, sans-serif;white-space:pre-wrap;line-height:1.2;text-align:right&quot;&gt;Work Summary for {!Service_Contract.Name}&lt;br&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;table border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; class=&quot;layout-0-under-200&quot; align=&quot;center&quot; style=&quot;display:none;border-spacing:0px;border-collapse:separate;width:100%;max-width:100%;table-layout:fixed;margin:0 auto;background-color:#5d6a70;border-top-left-radius:0;border-top-right-radius:0;border-bottom-left-radius:0;border-bottom-right-radius:0&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td style=&quot;text-align:center;padding:16.21px 20px&quot;&gt;&lt;table border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; style=&quot;border-spacing:0px;border-collapse:separate;width:100%;max-width:200px;table-layout:fixed;margin:0 auto&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td width=&quot;100.00%&quot; style=&quot;width:100.00%;box-sizing:border-box;vertical-align:middle;background-color:#5d6a70;border-top-left-radius:0;border-top-right-radius:0;border-bottom-left-radius:0;border-bottom-right-radius:0&quot;&gt;&lt;table border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; style=&quot;border-spacing:0px;border-collapse:separate;width:100%;table-layout:fixed&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;table align=&quot;center&quot; width=&quot;100%&quot; border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; role=&quot;presentation&quot; style=&quot;color:#000;font-style:normal;font-weight:normal;font-size:16px;line-height:1.4;letter-spacing:0;text-align:left;direction:ltr;border-collapse:collapse;font-family:Arial, Helvetica, sans-serif;white-space:normal;word-wrap:break-word;word-break:break-word&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;table cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; border=&quot;0&quot; style=&quot;width:100%&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td align=&quot;center&quot;&gt;&lt;table cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; border=&quot;0&quot; style=&quot;width:100%;max-width:200px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td style=&quot;width:100%;padding:0&quot;&gt;&lt;img src=&quot;https://vc-eckwd33avfpvqoxg_0gsgxxmesjtgju3pix7p4tu.canva-cdn.email/67f4998edd0c036d96a1c69b710b1526.png&quot; width=&quot;200&quot; height=&quot;200&quot; style=&quot;display:block;width:100%;height:auto;max-width:100%&quot;&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;font-size:0;height:13px&quot; height=&quot;13&quot;&gt;&amp;nbsp;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td width=&quot;100.00%&quot; style=&quot;width:100.00%;box-sizing:border-box;vertical-align:middle;background-color:#5d6a70;border-top-left-radius:0;border-top-right-radius:0;border-bottom-left-radius:0;border-bottom-right-radius:0&quot;&gt;&lt;table border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; style=&quot;border-spacing:0px;border-collapse:separate;width:100%;table-layout:fixed&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;&lt;table align=&quot;center&quot; width=&quot;100%&quot; border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; role=&quot;presentation&quot; style=&quot;color:#000;font-style:normal;font-weight:normal;font-size:16px;line-height:1.4;letter-spacing:0;text-align:left;direction:ltr;border-collapse:collapse;font-family:Arial, Helvetica, sans-serif;white-space:normal;word-wrap:break-word;word-break:break-word&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td dir=&quot;ltr&quot; style=&quot;color:#f2eeea;font-size:17.3333px;font-weight:700;font-family:Poppins, Arial, Helvetica, sans-serif;white-space:pre-wrap;line-height:1.2;text-align:right&quot;&gt;Work Summary for {!Service_Contract.Name}&lt;br&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;vertical-align:top;padding:0px&amp;lt;br /&amp;gt;           0px&amp;lt;br /&amp;gt;           0px&amp;lt;br /&amp;gt;           0px&quot;&gt;&lt;table align=&quot;center&quot; width=&quot;100%&quot; border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; role=&quot;presentation&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td style=&quot;padding:10px 0 10px 0;vertical-align:top&quot;&gt;&lt;table align=&quot;center&quot; width=&quot;100%&quot; border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; role=&quot;presentation&quot; style=&quot;color:#000;font-style:normal;font-weight:normal;font-size:16px;line-height:1.4;letter-spacing:0;text-align:left;direction:ltr;border-collapse:collapse;font-family:Arial, Helvetica, sans-serif;white-space:normal;word-wrap:break-word;word-break:break-word&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td dir=&quot;ltr&quot; style=&quot;color:#000000;font-size:16px;font-family:&amp;quot;Open Sans&amp;quot;, Arial, Helvetica, sans-serif;white-space:pre-wrap;text-align:left;padding:0px 20px&quot;&gt;Dear {!Service_Contract.Account.npe01__One2OneContact__r.FirstName},&lt;br&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;font-size:0;height:16px&quot; height=&quot;16&quot;&gt;&amp;nbsp;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td dir=&quot;ltr&quot; style=&quot;color:#000000;font-size:16px;font-family:&amp;quot;Open Sans&amp;quot;, Arial, Helvetica, sans-serif;white-space:pre-wrap;text-align:left;padding:0px 20px&quot;&gt;This email summarizes our work together and outlines the next steps as we transition you to our Alumni Partner community. We value your partnership and look forward to continuing our relationship in a new capacity.&lt;br&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;font-size:0;height:16px&quot; height=&quot;16&quot;&gt;&amp;nbsp;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td dir=&quot;ltr&quot; style=&quot;color:#000000;font-size:28.0004px;font-weight:700;font-family:Poppins, Arial, Helvetica, sans-serif;white-space:pre-wrap;text-align:left;padding:0px 20px&quot;&gt;What Was Done&lt;br&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;font-size:0;height:16px&quot; height=&quot;16&quot;&gt;&amp;nbsp;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td dir=&quot;ltr&quot; style=&quot;color:#000000;font-size:16px;font-family:&amp;quot;Open Sans&amp;quot;, Arial, Helvetica, sans-serif;white-space:pre-wrap;text-align:left;padding:0px 20px&quot;&gt;During our active partnership, we successfully delivered the following:&lt;br&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;font-size:0;height:16px&quot; height=&quot;16&quot;&gt;&amp;nbsp;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td dir=&quot;ltr&quot; style=&quot;text-align:left;padding:0px 20px;font-size:0&quot;&gt;&lt;table width=&quot;100%&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; style=&quot;border-collapse:collapse;font-family:Arial, Helvetica, sans-serif&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td dir=&quot;ltr&quot; style=&quot;font-size:16px;color:#000000;font-family:&amp;quot;Open Sans&amp;quot;, Arial, Helvetica, sans-serif;white-space:pre-wrap;vertical-align:top&quot;&gt;{!Service_Contract.Work_Done__c} &lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td dir=&quot;ltr&quot; style=&quot;color:#000000;font-size:16px;font-family:&amp;quot;Open Sans&amp;quot;, Arial, Helvetica, sans-serif;white-space:pre-wrap;text-align:left;padding:0px 20px&quot;&gt;We are proud of the results achieved together and the positive impact this work has had on your organization.&lt;br&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;font-size:0;height:16px&quot; height=&quot;16&quot;&gt;&amp;nbsp;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;padding:0px 20px&quot;&gt;&lt;table cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; border=&quot;0&quot; style=&quot;width:100%&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td align=&quot;center&quot;&gt;&lt;table cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; border=&quot;0&quot; style=&quot;width:100%;max-width:560px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td height=&quot;1px&quot; style=&quot;height:1px;border-radius:999px;line-height:1px;font-size:0;background-color:#000000&quot;&gt;&amp;nbsp;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;font-size:0;height:16px&quot; height=&quot;16&quot;&gt;&amp;nbsp;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td dir=&quot;ltr&quot; style=&quot;color:#000000;font-size:28px;font-weight:700;font-family:&amp;quot;Open Sans&amp;quot;, Arial, Helvetica, sans-serif;white-space:pre-wrap;text-align:left;padding:0px 20px&quot;&gt;Training Provided&lt;br&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;font-size:0;height:16px&quot; height=&quot;16&quot;&gt;&amp;nbsp;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td dir=&quot;ltr&quot; style=&quot;color:#000000;font-size:16px;font-family:&amp;quot;Open Sans&amp;quot;, Arial, Helvetica, sans-serif;white-space:pre-wrap;text-align:left;padding:0px 20px&quot;&gt;As part of our engagement, we provided the following training to your team:&lt;br&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;font-size:0;height:16px&quot; height=&quot;16&quot;&gt;&amp;nbsp;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td dir=&quot;ltr&quot; style=&quot;text-align:left;padding:0px 20px;font-size:0&quot;&gt;&lt;table width=&quot;100%&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; style=&quot;border-collapse:collapse;font-family:Arial, Helvetica, sans-serif&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td dir=&quot;ltr&quot; style=&quot;font-size:16px;color:#000000;font-family:&amp;quot;Open Sans&amp;quot;, Arial, Helvetica, sans-serif;white-space:pre-wrap;vertical-align:top&quot;&gt;{!Service_Contract.Training_Provided__c}&lt;br&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;font-size:0;height:16px&quot; height=&quot;16&quot;&gt;&amp;nbsp;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;padding:0px 20px&quot;&gt;&lt;table cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; border=&quot;0&quot; style=&quot;width:100%&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td align=&quot;center&quot;&gt;&lt;table cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; border=&quot;0&quot; style=&quot;width:100%;max-width:560px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td height=&quot;1px&quot; style=&quot;height:1px;border-radius:999px;line-height:1px;font-size:0;background-color:#000000&quot;&gt;&amp;nbsp;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;font-size:0;height:16px&quot; height=&quot;16&quot;&gt;&amp;nbsp;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td dir=&quot;ltr&quot; style=&quot;color:#000000;font-size:28px;font-weight:700;font-family:&amp;quot;Open Sans&amp;quot;, Arial, Helvetica, sans-serif;white-space:pre-wrap;text-align:left;padding:0px 20px&quot;&gt;Additional Information&lt;br&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;font-size:0;height:16px&quot; height=&quot;16&quot;&gt;&amp;nbsp;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td dir=&quot;ltr&quot; style=&quot;color:#000000;font-size:16px;font-family:&amp;quot;Open Sans&amp;quot;, Arial, Helvetica, sans-serif;white-space:pre-wrap;text-align:left;padding:0px 20px&quot;&gt;All work documentation, reports, and deliverables pertaining to our engagement have been finalized. &lt;br&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;font-size:0;height:16px&quot; height=&quot;16&quot;&gt;&amp;nbsp;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td dir=&quot;ltr&quot; style=&quot;color:#000000;font-size:16px;font-family:&amp;quot;Open Sans&amp;quot;, Arial, Helvetica, sans-serif;white-space:pre-wrap;text-align:left;padding:0px 20px&quot;&gt;Below are links to additional reference and training information:&lt;br&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;font-size:0;height:16px&quot; height=&quot;16&quot;&gt;&amp;nbsp;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td dir=&quot;ltr&quot; style=&quot;text-align:left;padding:0px 20px;font-size:0&quot;&gt;&lt;table width=&quot;100%&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; style=&quot;border-collapse:collapse;font-family:Arial, Helvetica, sans-serif&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td dir=&quot;ltr&quot; style=&quot;font-size:16px;font-family:&amp;quot;Open Sans&amp;quot;, Arial, Helvetica, sans-serif;vertical-align:top&quot;&gt;{!Service_Contract.Additional_Resources__c}&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;font-size:0;height:16px&quot; height=&quot;16&quot;&gt;&amp;nbsp;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;padding:0px 20px&quot;&gt;&lt;table cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; border=&quot;0&quot; style=&quot;width:100%&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td align=&quot;center&quot;&gt;&lt;table cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; border=&quot;0&quot; style=&quot;width:100%;max-width:560px&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td height=&quot;1px&quot; style=&quot;height:1px;border-radius:999px;line-height:1px;font-size:0;background-color:#000000&quot;&gt;&amp;nbsp;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;font-size:0;height:16px&quot; height=&quot;16&quot;&gt;&amp;nbsp;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td dir=&quot;ltr&quot; style=&quot;color:#000000;font-size:28px;font-weight:700;font-family:&amp;quot;Open Sans&amp;quot;, Arial, Helvetica, sans-serif;white-space:pre-wrap;text-align:left;padding:0px 20px&quot;&gt;Stay In Touch&lt;br&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;font-size:0;height:16px&quot; height=&quot;16&quot;&gt;&amp;nbsp;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td dir=&quot;ltr&quot; style=&quot;color:#000000;font-size:16px;font-family:&amp;quot;Open Sans&amp;quot;, Arial, Helvetica, sans-serif;white-space:pre-wrap;text-align:left;padding:0px 20px&quot;&gt;As an Alumni Partner, you&apos;ll continue to receive exclusive updates, invitations to events, and access to valuable resources. Here are a few ways to stay connected:&lt;br&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;font-size:0;height:16px&quot; height=&quot;16&quot;&gt;&amp;nbsp;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td dir=&quot;ltr&quot; style=&quot;text-align:left;padding:0px 20px;font-size:0&quot;&gt;&lt;table width=&quot;100%&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; style=&quot;border-collapse:collapse;font-family:Arial, Helvetica, sans-serif&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td style=&quot;width:24px;vertical-align:top;padding-right:8px;text-align:right;white-space:nowrap&quot;&gt;&lt;span style=&quot;font-size:16px;color:#000000;display:inline-block&quot;&gt;•&lt;/span&gt;&lt;/td&gt;&lt;td style=&quot;font-size:16px;font-family:&amp;quot;Open Sans&amp;quot;, Arial, Helvetica, sans-serif;vertical-align:top&quot;&gt;&lt;a href=&quot;https://www.linkedin.com/company/transition-trails/?viewAsMember=true&quot; rel=&quot;noopener nofollow&quot; style=&quot;color:inherit;text-decoration:inherit&quot;&gt;&lt;span style=&quot;font-weight:700;text-decoration:underline;color:#1a62ff;white-space:pre-wrap&quot;&gt;LinkedIn&lt;/span&gt;&lt;/a&gt;&lt;span style=&quot;font-weight:700;color:#000000;white-space:pre-wrap&quot;&gt;:&lt;/span&gt;&lt;span style=&quot;color:#000000;white-space:pre-wrap&quot;&gt; Follow our company page.&lt;/span&gt;&lt;span style=&quot;color:#000000;white-space:pre-wrap&quot;&gt;&lt;br&gt;&lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td dir=&quot;ltr&quot; style=&quot;text-align:left;padding:0px 20px;font-size:0&quot;&gt;&lt;table width=&quot;100%&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; style=&quot;border-collapse:collapse;font-family:Arial, Helvetica, sans-serif&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td style=&quot;width:24px;vertical-align:top;padding-right:8px;text-align:right;white-space:nowrap&quot;&gt;&lt;span style=&quot;font-size:16px;color:#000000;display:inline-block&quot;&gt;•&lt;/span&gt;&lt;/td&gt;&lt;td style=&quot;font-size:16px;font-family:&amp;quot;Open Sans&amp;quot;, Arial, Helvetica, sans-serif;vertical-align:top&quot;&gt;&lt;a href=&quot;https://transitiontrailsthecompass.substack.com&quot; rel=&quot;noopener nofollow&quot; style=&quot;color:inherit;text-decoration:inherit&quot;&gt;&lt;span style=&quot;font-weight:700;text-decoration:underline;color:#1a62ff;white-space:pre-wrap&quot;&gt;Newsletter&lt;/span&gt;&lt;/a&gt;&lt;span style=&quot;font-weight:700;color:#000000;white-space:pre-wrap&quot;&gt;:&lt;/span&gt;&lt;span style=&quot;color:#000000;white-space:pre-wrap&quot;&gt; Subscribe to our &lt;/span&gt;&lt;span style=&quot;color:#000000;white-space:pre-wrap&quot;&gt;monthly &lt;/span&gt;&lt;span style=&quot;color:#000000;white-space:pre-wrap&quot;&gt;newsletter for industry insights and company news&lt;/span&gt;&lt;span style=&quot;color:#f2eeea;white-space:pre-wrap&quot;&gt;. &lt;/span&gt;&lt;span style=&quot;color:#000000;white-space:pre-wrap&quot;&gt;&lt;br&gt;&lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td dir=&quot;ltr&quot; style=&quot;text-align:left;padding:0px 20px;font-size:0&quot;&gt;&lt;table width=&quot;100%&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; style=&quot;border-collapse:collapse;font-family:Arial, Helvetica, sans-serif&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td style=&quot;width:24px;vertical-align:top;padding-right:8px;text-align:right;white-space:nowrap&quot;&gt;&lt;span style=&quot;font-size:16px;color:#000000;display:inline-block&quot;&gt;•&lt;/span&gt;&lt;/td&gt;&lt;td style=&quot;font-size:16px;font-family:&amp;quot;Open Sans&amp;quot;, Arial, Helvetica, sans-serif;vertical-align:top&quot;&gt;&lt;a href=&quot;https://transitiontrails.substack.com&quot; rel=&quot;noopener nofollow&quot; style=&quot;color:inherit;text-decoration:inherit&quot;&gt;&lt;span style=&quot;font-weight:700;text-decoration:underline;color:#1a62ff;white-space:pre-wrap&quot;&gt;Our Blog&lt;/span&gt;&lt;/a&gt;&lt;span style=&quot;font-weight:700;color:#000000;white-space:pre-wrap&quot;&gt;:&lt;/span&gt;&lt;span style=&quot;color:#000000a;white-space:pre-wrap&quot;&gt; Subscribe to &lt;/span&gt;&lt;span style=&quot;text-decoration:underline;color:#000000;white-space:pre-wrap&quot;&gt;Notes From The Trail&lt;/span&gt;&lt;span style=&quot;color:#000000;white-space:pre-wrap&quot;&gt; for industry insights and company news.&lt;/span&gt;&lt;span style=&quot;color:#000000;white-space:pre-wrap&quot;&gt;&lt;br&gt;&lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;font-size:0;height:16px&quot; height=&quot;16&quot;&gt;&amp;nbsp;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td dir=&quot;ltr&quot; style=&quot;color:#000000;font-size:16px;font-family:&amp;quot;Open Sans&amp;quot;, Arial, Helvetica, sans-serif;white-space:pre-wrap;text-align:left;padding:0px 20px&quot;&gt;We value your continued connection with us and look forward to exploring future opportunities together.&lt;br&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td height=&quot;100%&quot; style=&quot;height:100%;font-size:0;line-height:0&quot; aria-hidden=&quot;true&quot;&gt;&amp;nbsp;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;vertical-align:top&quot;&gt;&lt;table border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; class=&quot;layout-1&quot; align=&quot;center&quot; style=&quot;display:table;border-spacing:0px;border-collapse:separate;width:100%;max-width:100%;table-layout:fixed;margin:0 auto;border-top-left-radius:0;border-top-right-radius:0;border-bottom-left-radius:0;border-bottom-right-radius:0&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td style=&quot;text-align:center&quot;&gt;&lt;table border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; style=&quot;border-spacing:0px;border-collapse:separate;width:100%;max-width:600px;table-layout:fixed;margin:0 auto&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td width=&quot;100.00%&quot; style=&quot;width:100.00%;box-sizing:border-box;vertical-align:top;background-color:#2a2e2c;border-top-left-radius:0;border-top-right-radius:0;border-bottom-left-radius:0;border-bottom-right-radius:0&quot;&gt;&lt;table border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; style=&quot;border-spacing:0px;border-collapse:separate;width:100%;table-layout:fixed&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td style=&quot;padding:20px&quot;&gt;&lt;table align=&quot;center&quot; width=&quot;100%&quot; border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; role=&quot;presentation&quot; style=&quot;color:#ffffff;font-style:normal;font-weight:normal;font-size:16px;line-height:1.4;letter-spacing:0;text-align:left;direction:ltr;border-collapse:collapse;font-family:Arial, Helvetica, sans-serif;white-space:normal;word-wrap:break-word;word-break:break-word&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td dir=&quot;ltr&quot; style=&quot;font-size:11px;font-family:Helvetica, Arial, sans-serif;line-height:0.9;text-align:center;mso-line-height-alt:1px&quot;&gt;&lt;span style=&quot;white-space:pre-wrap&quot;&gt;Transition Trails&lt;/span&gt;&lt;span style=&quot;color:#ffffff;white-space:pre-wrap&quot;&gt; | &lt;/span&gt;&lt;span style=&quot;white-space:pre-wrap&quot;&gt;Dallas, TX&lt;/span&gt;&lt;span style=&quot;color:#ffffff;white-space:pre-wrap&quot;&gt; | &lt;/span&gt;&lt;a href=&quot;http://transitiontrails.org&quot; rel=&quot;noopener nofollow&quot; style=&quot;color:inherit;text-decoration:inherit&quot;&gt;&lt;span style=&quot;text-decoration:underline;color:#1a62ff;white-space:pre-wrap&quot;&gt;transitiontrails.org&lt;/span&gt;&lt;/a&gt;&lt;span style=&quot;text-decoration:underline;color:#1a62ff;white-space:pre-wrap&quot;&gt;&lt;br&gt;&lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;table border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; class=&quot;layout-1-under-450&quot; align=&quot;center&quot; style=&quot;display:none;border-spacing:0px;border-collapse:separate;width:100%;max-width:100%;table-layout:fixed;margin:0 auto;border-top-left-radius:0;border-top-right-radius:0;border-bottom-left-radius:0;border-bottom-right-radius:0&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td style=&quot;text-align:center&quot;&gt;&lt;table border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; style=&quot;border-spacing:0px;border-collapse:separate;width:100%;max-width:490px;table-layout:fixed;margin:0 auto&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td width=&quot;100.00%&quot; style=&quot;width:100.00%;box-sizing:border-box;vertical-align:top;background-color:#2a2e2c;border-top-left-radius:0;border-top-right-radius:0;border-bottom-left-radius:0;border-bottom-right-radius:0&quot;&gt;&lt;table border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; style=&quot;border-spacing:0px;border-collapse:separate;width:100%;table-layout:fixed&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td style=&quot;padding:20px&quot;&gt;&lt;table align=&quot;center&quot; width=&quot;100%&quot; border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; role=&quot;presentation&quot; style=&quot;color:#ffffff;font-style:normal;font-weight:normal;font-size:16px;line-height:1.4;letter-spacing:0;text-align:left;direction:ltr;border-collapse:collapse;font-family:Arial, Helvetica, sans-serif;white-space:normal;word-wrap:break-word;word-break:break-word&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td dir=&quot;ltr&quot; style=&quot;font-size:11px;font-family:Helvetica, Arial, sans-serif;line-height:0.9;text-align:center;mso-line-height-alt:1px&quot;&gt;&lt;span style=&quot;white-space:pre-wrap&quot;&gt;Transition Trails&lt;/span&gt;&lt;span style=&quot;color:#ffffff;white-space:pre-wrap&quot;&gt; | &lt;/span&gt;&lt;span style=&quot;white-space:pre-wrap&quot;&gt;Dallas, TX&lt;/span&gt;&lt;span style=&quot;color:#ffffff;white-space:pre-wrap&quot;&gt; | &lt;/span&gt;&lt;a href=&quot;http://transitiontrails.org&quot; rel=&quot;noopener nofollow&quot; style=&quot;color:inherit;text-decoration:inherit&quot;&gt;&lt;span style=&quot;text-decoration:underline;color:#ffffff;white-space:pre-wrap&quot;&gt;transitiontrails.org&lt;/span&gt;&lt;/a&gt;&lt;span style=&quot;text-decoration:underline;color:#ffffff;white-space:pre-wrap&quot;&gt;&lt;br&gt;&lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>Unique identifer for the record being processed</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
