force-app/main/default/flows/Service_Contract_processing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Send email to Transition Trails support as reminder</description>
        <name>Send60DayExpirationNotice</name>
        <label>Send 60 Day Expiration Notice</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>X60_day_date</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value/>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>support@transitiontrails.org</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Process_Service_Contracts.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;60 Day Expiration Notice&lt;/span&gt;&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Process_Service_Contracts.Primary_Service_Provider__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <stringValue></stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <description>Send email to Transition Trails support as reminder</description>
        <name>Send90DayNotice</name>
        <label>Send 90 Day Expiration Notice</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>NinetyDayDate</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value/>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>support@transitiontrails.org</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Process_Service_Contracts.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;90 Day Expiration Notice&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Process_Service_Contracts.Primary_Service_Provider__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <stringValue></stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <description>Send email to Transition Trails support as reminder</description>
        <name>Send_30_Day_Expiration_Notice</name>
        <label>Send 30 Day Expiration Notice</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>ThirtyDayDate</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value/>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>support@transitiontrails.org</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Process_Service_Contracts.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;30 Day Expiration Notice&lt;/span&gt;&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Process_Service_Contracts.Primary_Service_Provider__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <stringValue></stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Add record to update collection</description>
        <name>Add_to_collection</name>
        <label>Add to collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ServiceContractCol</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ServiceContractRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_Service_Contracts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Create service contract record to update</description>
        <name>AddToUpdate</name>
        <label>Add to Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ServiceContractRec.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Create service contract record to update</description>
        <name>AddToUpdateExpire</name>
        <label>Add to Update (expire)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ServiceContractRec.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Update the 90 day date on the service contract</description>
        <name>NinetyDayDate</name>
        <label>90 day date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ServiceContractRec.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Process_Service_Contracts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceContractRec.Expiration_Notification_Date_90__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Update the 30 day date on the service contract</description>
        <name>ThirtyDayDate</name>
        <label>30 day date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ServiceContractRec.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Process_Service_Contracts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceContractRec.Expiration_Notification_Date_30__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Update the 60 day date on the service contract</description>
        <name>X60_day_date</name>
        <label>60 day date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ServiceContractRec.Expiration_Notification_Date_60__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceContractRec.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Process_Service_Contracts.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_to_collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Determine what to do with service contract</description>
        <name>Examine</name>
        <label>Examine</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Process_Service_Contracts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Need_to_Activate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_Service_Contracts.StartDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Process_Service_Contracts.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inactive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddToUpdate</targetReference>
            </connector>
            <label>Need to Activate</label>
        </rules>
        <rules>
            <name>Expires_in_60_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_Service_Contracts.EndDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>ExpireDayDate60</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Process_Service_Contracts.Expiration_Notification_Date_60__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send60DayExpirationNotice</targetReference>
            </connector>
            <label>Expires in 60 Days</label>
        </rules>
        <rules>
            <name>Expires_in_90_days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_Service_Contracts.EndDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Expire90DayDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Process_Service_Contracts.Expiration_Notification_Date_90__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send90DayNotice</targetReference>
            </connector>
            <label>Expires in 90 days</label>
        </rules>
        <rules>
            <name>Expires_30_in_30_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_Service_Contracts.EndDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>ExpiresDayDate30</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Process_Service_Contracts.Expiration_Notification_Date_30__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_30_Day_Expiration_Notice</targetReference>
            </connector>
            <label>Expires 30 in 30 Days</label>
        </rules>
        <rules>
            <name>Need_to_Deactivate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_Service_Contracts.EndDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Process_Service_Contracts.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddToUpdateExpire</targetReference>
            </connector>
            <label>Need to Deactivate</label>
        </rules>
    </decisions>
    <decisions>
        <description>If one or more service contracts need to have status updated, then process them; otherwise, end.</description>
        <name>Need_to_do_Update</name>
        <label>Need to do Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Have_Updates</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceContractCol</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateServiceContractRecords</targetReference>
            </connector>
            <label>Have Updates</label>
        </rules>
    </decisions>
    <description>Activate or Expire based on dates; send notifications for upcoming expirations</description>
    <environments>Default</environments>
    <formulas>
        <description>Email notification to service contract&apos;s primary support</description>
        <name>EmailNotification30</name>
        <dataType>String</dataType>
        <expression>{!Process_Service_Contracts.Id}+&apos;expires in 30 days&apos;</expression>
    </formulas>
    <formulas>
        <description>Current date plus 90</description>
        <name>Expire90DayDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+90</expression>
    </formulas>
    <formulas>
        <description>Current date plus 60</description>
        <name>ExpireDayDate60</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+60</expression>
    </formulas>
    <formulas>
        <description>Current Date + 30</description>
        <name>ExpiresDayDate30</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+30</expression>
    </formulas>
    <formulas>
        <name>RecipientEmail</name>
        <dataType>String</dataType>
        <expression>{!Process_Service_Contracts.Primary_Service_Provider__r.Email}</expression>
    </formulas>
    <interviewLabel>Service Contract processing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Contract processing</label>
    <loops>
        <description>Determine if any action for that service contract is needed</description>
        <name>Process_Service_Contracts</name>
        <label>Process Service Contracts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>ServiceContracts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Examine</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Need_to_do_Update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Pull all service contracts</description>
        <name>ServiceContracts</name>
        <label>Service Contracts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Process_Service_Contracts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceContract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update status of set of service contract records</description>
        <name>UpdateServiceContractRecords</name>
        <label>Update Service Contract Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>ServiceContractCol</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ServiceContracts</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Collection of service contracts to be updated</description>
        <name>ServiceContractCol</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceContract</objectType>
    </variables>
    <variables>
        <description>Record for a service contract to be used for processing</description>
        <name>ServiceContractRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceContract</objectType>
    </variables>
    <variables>
        <name>theemail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
