force-app/main/default/flows/Skill_Assessment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Answer_to_Assessment_Result_Set</name>
        <label>Add Answer to Assessment Result Set</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AssessmentResultCol</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AssessmentResultRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_AnswerSet_collection_variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_answer_set</name>
        <label>Assign to answer set</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AnswerSetRec</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AnswersLoop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Answer_Set_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Answer_Set_Collection</name>
        <label>Assign to Answer Set Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AnswerSetCol</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AnswerSetRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AnswersLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Capture the question and answer</description>
        <name>Capture_Answer</name>
        <label>Capture Answer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AssessmentResultRec.Assessment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssessmentResultRec.Is_Correct__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AnswerSelection.firstSelectedRow.IsCorrect__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssessmentResultRec.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AnswerSelection.firstSelectedRow.SkillQuestion__r.SkillQuestion__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssessmentResultRec.Answer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AnswerSelection.firstSelectedRow.Answer__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Answer_to_Assessment_Result_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>capture_skill_id</name>
        <label>capture skill id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SelectedSkillID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SkillRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SkillName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SkillRecord.Skill_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Skill_Questions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_AnswerSet_collection_variable</name>
        <label>Clear AnswerSet collection variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AnswerSetCol</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Loop1</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Answer_for_Question</name>
        <label>Answer for Question</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>AnswersLoop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Answer_is_for_question</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AnswersLoop.SkillQuestion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop1.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_answer_set</targetReference>
            </connector>
            <label>Answer is for question</label>
        </rules>
    </decisions>
    <description>Process for user to take a skills assessment on a specific skill</description>
    <dynamicChoiceSets>
        <description>Defines the difficulty of the questions included in the assessment</description>
        <name>pcsLevel</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Level__c</picklistField>
        <picklistObject>Assessment__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Skill Assessment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Skill Assessment</label>
    <loops>
        <name>AnswersLoop</name>
        <label>AnswersLoop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Skill_Question_Answers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Answer_for_Question</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Display_question_and_answers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop1</name>
        <label>Loop1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Skill_Questions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AnswersLoop</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>add_assessment_results</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>add_assessment_results</name>
        <label>add assessment results</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>AssessmentResultCol</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Skill_Question_Answers</name>
        <label>Skill Question Answers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop1</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SkillQuestionAnswer__c</object>
        <sortField>Order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Pull all the questions related to the selected skill and the level of the assessment</description>
        <name>Skill_Questions</name>
        <label>Skill Questions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Skill_Question_Answers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Skill__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedSkillID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Assessment_Level</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SkillQuestion__c</object>
        <sortField>Order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Skills</name>
        <label>Skills</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Skill_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TotalQuestions__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Skill__c</object>
        <sortField>Skill_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Display_question_and_answers</name>
        <label>Display question and answers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Capture_Answer</targetReference>
        </connector>
        <fields>
            <name>TheQuestion</name>
            <fieldText>&lt;p&gt;{!Loop1.SkillQuestion__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>AnswerSelection</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>SkillQuestionAnswer__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>AnswerSetCol</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;SkillQuestionAnswer__c&quot;,&quot;fieldReferences&quot;:[&quot;Id&quot;],&quot;elementReference&quot;:&quot;AnswerSetCol&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Answer__c&quot;,&quot;guid&quot;:&quot;column-fa3d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Answer&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnReferences</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;SkillQuestionAnswer__c&quot;,&quot;fieldReferences&quot;:[&quot;Answer__c&quot;],&quot;elementReference&quot;:&quot;AnswerSetCol&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Skill_Screen</name>
        <label>Select Skill Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>capture_skill_id</targetReference>
        </connector>
        <fields>
            <name>Assessment_Level</name>
            <choiceReferences>pcsLevel</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Assessment Level</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SkillsList</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Skill__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Skills</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Skills</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;Skill__c&quot;,&quot;fieldReferences&quot;:[&quot;Id&quot;],&quot;elementReference&quot;:&quot;Skills&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Skill_Name__c&quot;,&quot;guid&quot;:&quot;column-54f5&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Skill Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;SkillDescription__c&quot;,&quot;guid&quot;:&quot;column-f408&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Skill Description&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnReferences</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;Skill__c&quot;,&quot;fieldReferences&quot;:[&quot;Skill_Name__c&quot;,&quot;SkillDescription__c&quot;],&quot;elementReference&quot;:&quot;Skills&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SkillRecord</assignToReference>
                <name>firstSelectedRow</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Skills</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AnswerSetCol</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SkillQuestionAnswer__c</objectType>
    </variables>
    <variables>
        <name>AnswerSetRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SkillQuestionAnswer__c</objectType>
    </variables>
    <variables>
        <description>Unique identifier of the assessment being done</description>
        <name>AssessmentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>a1san000001ODpxAAG</stringValue>
        </value>
    </variables>
    <variables>
        <description>Collection of assessment result records</description>
        <name>AssessmentResultCol</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Assessment_Result__c</objectType>
    </variables>
    <variables>
        <description>Result of one question</description>
        <name>AssessmentResultRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Assessment_Result__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Answers</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SkillQuestionAnswer__c</objectType>
    </variables>
    <variables>
        <name>QuectionRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SkillQuestion__c</objectType>
    </variables>
    <variables>
        <name>QuestionID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>a1san000001ODpxAAG</stringValue>
        </value>
    </variables>
    <variables>
        <name>SelectedSkillID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SkillName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SkillRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Skill__c</objectType>
    </variables>
</Flow>
