force-app/main/default/flows/Task_New_Log_Work.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Select correct path</description>
        <name>Log_work_path</name>
        <label>Log work path</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>&apos;Case&apos;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case</targetReference>
            </connector>
            <label>case</label>
        </rules>
        <rules>
            <name>Workselection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>&apos;Work&apos;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Work</targetReference>
            </connector>
            <label>Work</label>
        </rules>
        <rules>
            <name>ProjectSelection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>&apos;Project&apos;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Project</targetReference>
            </connector>
            <label>Project</label>
        </rules>
        <rules>
            <name>EpicSelection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>&apos;Epic&apos;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Epic</targetReference>
            </connector>
            <label>Epic</label>
        </rules>
        <rules>
            <name>ServiceContractSelection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>&apos;service contract&apos;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Service_Contract</targetReference>
            </connector>
            <label>Service Contract</label>
        </rules>
    </decisions>
    <description>Process total hours on record related to task</description>
    <environments>Default</environments>
    <formulas>
        <description>Adding task&apos;s hours to current actual hours</description>
        <name>ActualHours</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!Get_Case.ActualHours__c}),{!$Record.Total_Number__c},{!Get_Case.ActualHours__c}+{!$Record.Total_Number__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ActualHoursEpic</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!Epic.Total_Hours__c}),{!$Record.Total_Number__c},{!Epic.Total_Hours__c}+{!$Record.Total_Number__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ActualHoursProject</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!Project.Total_Hours__c}),{!$Record.Total_Number__c},{!Project.Total_Hours__c}+{!$Record.Total_Number__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ActualHoursServiceContract</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!Service_Contract.TotalHoursWorked__c}),{!$Record.Total_Number__c},{!Service_Contract.TotalHoursWorked__c}+{!$Record.Total_Number__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ActualHoursWork</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!Work.Total_Hours__c}),{!$Record.Total_Number__c},{!Work.Total_Hours__c}+{!$Record.Total_Number__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Name of object related to the task</description>
        <name>ObjectName</name>
        <dataType>String</dataType>
        <expression>CASE(LEFT({!$Record.WhatId},3),
&apos;500&apos;,&apos;Case&apos;,
&apos;a1e&apos;,&apos;Project&apos;,
&apos;a0b&apos;,&apos;Epic&apos;,
&apos;a1v&apos;,&apos;Work&apos;,
&apos;810&apos;,&apos;Service Contract&apos;,&apos;&apos;)</expression>
    </formulas>
    <interviewLabel>Task - New Log Work {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task - New Log Work</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Epic</name>
        <label>Epic</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Epic</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>agf__ADM_Epic__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Pull information from case</description>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Pulling information for project</description>
        <name>Project</name>
        <label>Project</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Project</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>agf__PPM_Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Service_Contract</name>
        <label>Service Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Service_Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceContract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get work info</description>
        <name>Work</name>
        <label>Work</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Work</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>agf__ADM_Work__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Epic</name>
        <label>Update Epic</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Hours__c</field>
            <value>
                <elementReference>ActualHoursEpic</elementReference>
            </value>
        </inputAssignments>
        <object>agf__ADM_Epic__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Project</name>
        <label>Update Project</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Hours__c</field>
            <value>
                <elementReference>ActualHoursProject</elementReference>
            </value>
        </inputAssignments>
        <object>agf__PPM_Project__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Service_Contract</name>
        <label>Update Service Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TotalHoursWorked__c</field>
            <value>
                <elementReference>ActualHoursServiceContract</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceContract</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update total hours on work</description>
        <name>Update_Work</name>
        <label>Update Work</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Hours__c</field>
            <value>
                <elementReference>ActualHoursWork</elementReference>
            </value>
        </inputAssignments>
        <object>agf__ADM_Work__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Add total hours from task to case&apos;s current actual hours.</description>
        <name>UpdateCase</name>
        <label>Update Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActualHours__c</field>
            <value>
                <elementReference>ActualHours</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Log_work_path</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Total_Number__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
