force-app/main/default/flows/Task_Delete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Capture the record&apos;s actual hours value</description>
        <name>Capture_Actual_Hours</name>
        <label>Capture Actual Hours</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ActualHours</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case.ActualHours__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Capture the record&apos;s actual hours value</description>
        <name>CaptureActualHoursWorkItem</name>
        <label>Capture Actual Hours</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ActualHours</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Work_Item.Total_Hours__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Work_Item</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Path determined by related object</description>
        <name>Related_Object</name>
        <label>Related Object</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CaseObject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RelatedToObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>&apos;500&apos;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case</targetReference>
            </connector>
            <label>Case</label>
        </rules>
        <rules>
            <name>WorkItemObject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RelatedToObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>&apos;a1V&apos;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Work_Item</targetReference>
            </connector>
            <label>Work Item</label>
        </rules>
        <rules>
            <name>ServiceContractObject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RelatedToObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>&apos;810&apos;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Service_Contract</targetReference>
            </connector>
            <label>Service Contract</label>
        </rules>
        <rules>
            <name>ProjectSelection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RelatedToObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>&apos;a1e&apos;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Project</targetReference>
            </connector>
            <label>Project</label>
        </rules>
        <rules>
            <name>EpicSelection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RelatedToObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>&apos;a0b&apos;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Epic</targetReference>
            </connector>
            <label>Epic</label>
        </rules>
    </decisions>
    <description>Activities to be done when a task with Total Number value is deleted</description>
    <environments>Default</environments>
    <formulas>
        <description>Record id of related record</description>
        <name>RelatedToId</name>
        <dataType>String</dataType>
        <expression>{!$Record.WhatId}</expression>
    </formulas>
    <formulas>
        <description>Defines the object prefix</description>
        <name>RelatedToObject</name>
        <dataType>String</dataType>
        <expression>LEFT({!RelatedToId},3)</expression>
    </formulas>
    <formulas>
        <description>Calculate total hours</description>
        <name>TotalHours</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!ActualHours}),0,{!ActualHours}-{!$Record.Total_Number__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Actual hours with deleted task total hours removed</description>
        <name>TotalHoursCase</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!Case.ActualHours__c}),0,{!Case.ActualHours__c}-{!$Record.Total_Number__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TotalHoursWorkItem</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!Work_Item.Total_Hours__c}),0,{!Work_Item.Total_Hours__c}-{!$Record.Total_Number__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Total number of hours worked against a service contract</description>
        <name>TotalServiceContractHours</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!Case.ServiceContract.TotalHoursWorked__c}),0,{!Case.ServiceContract.TotalHoursWorked__c}-{!$Record.Total_Number__c})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Task - Delete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task - Delete</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get case information</description>
        <name>Case</name>
        <label>Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Capture_Actual_Hours</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Pull information about epic</description>
        <name>Epic</name>
        <label>Epic</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>agf__ADM_Epic__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Pull project information</description>
        <name>Project</name>
        <label>Project</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>agf__PPM_Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Pull information on service contract</description>
        <name>Service_Contract</name>
        <label>Service Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceContract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Pull related work item information so we have current value of Total Hous</description>
        <name>Work_Item</name>
        <label>Work Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CaptureActualHoursWorkItem</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>agf__ADM_Work__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update total hous on work item record</description>
        <name>Update_Work_Item</name>
        <label>Update Work Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Hours__c</field>
            <value>
                <elementReference>TotalHours</elementReference>
            </value>
        </inputAssignments>
        <object>agf__ADM_Work__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Remove total hours from actual hours total</description>
        <name>UpdateCase</name>
        <label>Update Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>UpdateServiceContract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActualHours__c</field>
            <value>
                <elementReference>TotalHours</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>Remove hours on the task from the Total Hours Worked on the service contract</description>
        <name>UpdateServiceContract</name>
        <label>Update Service Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case.ServiceContractId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TotalHoursWorked__c</field>
            <value>
                <elementReference>TotalServiceContractHours</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceContract</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Related_Object</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Total_Number__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <description>Actual hours currently defined on the record</description>
        <name>ActualHours</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
