force-app/main/default/flows/Task_Update_Hours.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Update hours on task and related object</description>
    <environments>Default</environments>
    <formulas>
        <description>Record id of related record</description>
        <name>RelatedToId</name>
        <dataType>String</dataType>
        <expression>{!$Record.WhatId}</expression>
    </formulas>
    <formulas>
        <description>Actual hours with deleted task total hours removed</description>
        <name>TotalHours</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!Case.ActualHours__c}),{!$Record.Total_Number__c},({!Case.ActualHours__c}- {!$Record__Prior.Total_Number__c})+{!$Record.Total_Number__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Calculated total for worked hours based on updated task work value</description>
        <name>TotalServiceContractHours</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!Case.ServiceContract.TotalHoursWorked__c}),{!$Record.Total_Number__c},({!Case.ServiceContract.TotalHoursWorked__c}-{!$Record__Prior.Total_Number__c})+{!$Record.Total_Number__c})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Task - Update Hours {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task - Update Hours</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get case information</description>
        <name>Case</name>
        <label>Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update total hours on related service contract</description>
        <name>Update_Service_Contract</name>
        <label>Update Service Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case.ServiceContractId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TotalHoursWorked__c</field>
            <value>
                <elementReference>TotalServiceContractHours</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceContract</object>
    </recordUpdates>
    <recordUpdates>
        <description>Remove total hours from actual hours total</description>
        <name>UpdateCase</name>
        <label>Update Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Service_Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActualHours__c</field>
            <value>
                <elementReference>TotalHours</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Total_Number__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>500</stringValue>
            </value>
        </filters>
        <filters>
            <field>Total_Number__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
